# 依赖文件
**/node_modules/
**/package-lock.json

# 数据库文件
**/*.db

# 测试覆盖率
**/coverage/

# 临时文件
**/*.tmp
**/*.log
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# 编译产物
**/dist/
**/build/